<h1><%= @dog.name %></h1>

<p><%= @dog.breed %></p>
<p><%= @dog.age %></p>

<h1>Employees</h1>

<% @dog.employees.each do |employee| %>
<p><%= link_to employee.full_name, employee_path(employee) %></p>
<% end%>
